
  


  
  .tabs-container {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-2);
    padding: 2rem 0 6rem;
  }
  







  @media screen and (min-width: 992px) {

  }
  
  .project-list-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  

  