@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*Variables css*/
:root {
  --header-height: 3rem;
  /*Colors*/
  /* Light Theme Variables */
  --header-height: 3rem;
  --hue: 96;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 99%);
  --text-color: hsl(var(--hue), var(--sat), 13%);

  --button-color:#0F161C;

  --about-bg1:#668565;
  --about-bg2:#636351;
  --about-bg3:#8A7B4C;

  --skills-bg1:#465A5E;
  --skills-bg2:#695353;

  --project-bg:#0F161C;

  --contact-bg1:#484C4F;
  --contact-bg2:#6A5C6E;

  --link-bg1:#BAABB9;
  --link-bg2:#958E9E;
  --link-bg3:#ABA2A2;

  --container-card-bg: #fff;

  --body-color: #B6C2B8;
  --container-color: #fff;

  /* Dark Theme Variables */
  --title-color-dark: hsl(var(--hue), var(--sat), 99%);
  --text-color-dark: hsl(var(--hue), var(--sat), 75%);
  
  --button-dark-color: #B6C2B8;

  --about-dark-bg1:#244D61;
  --about-dark-bg2:#2D4D4D;
  --about-dark-bg3:#007878;

  --skills-dark-bg1:#4A5259;
  --skills-dark-bg2:#343638;
 --project-dark-bg:rgba(37, 37, 37, 0.693);
  --contact-dark-bg1:#556B5B;
  --contact-dark-bg2:#3D4036;

  --container-card-dark-bg:#fff;

  --link-dark-bg1:#8A7B75;
  --link-dark-bg2:#B89182;
  --link-dark-bg3:#332F22;


  --body-color-dark: #0F161C;
  --container-color-dark: hsl(var(--hue), var(--sat), 20%);



  /*Font and typography*/
  --body-font: "Poppins", sans-serif;
  /*.5rem=8px|1rem=16px...*/
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;
  /*Font weight*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  /*Margenes bottom*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5em;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* == z index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
  /* Responsive typography */
}
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

[data-theme="light"] {
  --title-color: hsl(var(--hue), var(--sat), 6%);
  --text-color: hsl(var(--hue), var(--sat), 10%);

  --button-color:#263545;

  --about-bg1:#668565;
  --about-bg2:#636351;
  --about-bg3:#8A7B4C;

  --skills-bg1:#465A5E;
  --skills-bg2:#695353;

  --project-bg: #263545;;

  --contact-bg1:#484C4F;
  --contact-bg2:#6A5C6E;

  --link-bg1:#BAABB9;
  --link-bg2:#958E9E;
  --link-bg3:#ABA2A2;
  
  --container-card-bg: #fff;

  --body-color: #B6C2B8;
  --container-color: #fff;
}

[data-theme="dark"] {
  --title-color: var(--title-color-dark);
  --text-color: var(--text-color-dark);

  --button-color:var(--button-dark-color);

  --about-bg1:var(--about-dark-bg1);
  --about-bg2:var(--about-dark-bg2);
  --about-bg3:var(--about-dark-bg3);

  --skills-bg1:var(--skills-dark-bg1);
  --skills-bg2:var(--skills-dark-bg2);

  --project-bg: var(--project-dark-bg);

  --contact-bg1:var(--contact-dark-bg1);
  --contact-bg2:var(--contact-dark-bg2);

  --link-bg1:var(--link-dark-bg1);
  --link-bg2:var(--link-dark-bg2);
  --link-bg3:var(--link-dark-bg3);
  
  --container-card-bg: var(--container-card-dark-bg);

  --body-color: var(--body-color-dark);
  --container-color: var(--container-color-dark);
}
/*Base*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Reusable css classes*/

.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*Layout*/

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*button*/

.button {
  display: inline-block;
  background-color: var(--button-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
  transition: transform 0.5s;
}
.button:hover {
  background-color: var(--button-color);
  transform: translateY(-5px);
}
.button__icon {
  margin-left: var(--mb-0-5);
}
.button--flex {
  display: inline-flex;
  align-items: center;
}

/* == == BREAKPOINTS ==*/
/* For large devices */
@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
  .button {
    padding: 1rem 1.75rem;
  }
  .button__icon {
    width: 22px;
    height: 22px;
  }
}
/* For medium devices */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }
  .section {
    padding: 2rem 0 4rem;
  }
  .section__subtitle {
    margin-bottom: var(--mb-3);
  }
}
@media screen and (max-width: 576px) {
}
/* For small devices */
@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}
